{% extends 'main/base.html' %}

{% block title %}
Редактирование биржи
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Редактировать биржу</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exchangeName" class="form-label">Название биржи</label>
            <input type="text" class="form-control" id="exchangeName" name="name" value="{{ exchange.name }}" required>
        </div>
        <div class="mb-3">
            <label for="apiUrl" class="form-label">API URL</label>
            <input type="text" class="form-control" id="apiUrl" name="api_url" value="{{ exchange.api_url }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="/exchanges/" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
